<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Cadastro - Produto
    </h4>
    <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="handleCancel()"
      >
        &times;
      </button>
  </div>
  <div class="modal-body">
    <div class="modal-container">
      <form [formGroup]="formProduto">
        <label>Id</label>
        <input type="number" id="id" formControlName="id" class="form-control" readonly>
        <label>Nome</label>
        <input type="text" id="nome" formControlName="nome" class="form-control"/>
        <div *ngIf="!formProduto.get('nome')?.valid && (formProduto.get('nome')?.dirty || formProduto.get('nome')?.touched)">
          <small *ngIf="formProduto.get('nome')?.hasError('required')">Nome é necessário</small>
        </div>
        <label>Descrição</label>
        <input type="text" id="descricao" formControlName="descricao" class="form-control"/>
        <div *ngIf="!formProduto.get('descricao')?.valid && (formProduto.get('descricao')?.dirty || formProduto.get('descricao')?.touched)">
          <small *ngIf="formProduto.get('descricao')?.hasError('required')">Descricao é necessário</small>
        </div>
        <label>Valor Unidade</label>
        <input id="valor-unitario" formControlName="valorUnidade" type="number" class="form-control"/>
        <div *ngIf="!formProduto.get('valorUnidade')?.valid && (formProduto.get('valorUnidade')?.dirty || formProduto.get('valorUnidade')?.touched)">
          <small *ngIf="formProduto.get('valorUnidade')?.hasError('required')">Descricao é necessário</small>
        </div>
        <label>Status</label>
        <select id="status" formControlName="status" class="form-control">
          <option value="ATIVO">Ativo</option>
          <option value="INATIVO">Inativo</option>
        </select>
      </form>
      <div class="modal-footer">
        <input
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="handleCancel()"
          value="Cancel"
        />
        <input
          type="submit"
          class="btn btn-info"
          [disabled]="!formProduto.valid"
          (click)="handleOk()"
          value="Save"
        />
      </div>
    </div>
  </div>
</div>
